@import 'modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;1,300;1,600&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
 min-height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito",
  sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: 
  /* radial-gradient(at top left, var(--hsl-0), transparent),
  radial-gradient(at top right, var(--hsl-1), transparent),
  radial-gradient(at bottom right, var(--hsl-2), transparent),
  radial-gradient(at bottom left, var(--hsl-3), transparent); */
  radial-gradient(at top left, hsl(311, 43%, 27%), transparent),
  radial-gradient(at top right, hsl(41, 43%, 27%), transparent),
  radial-gradient(at bottom right, hsl(131, 43%, 27%), transparent),
  radial-gradient(at bottom left, hsl(221, 43%, 27%), transparent);
  /* radial-gradient(at top left, hsl(72, 79%, 33%), transparent),
  radial-gradient(at top right, hsl(162, 79%, 33%), transparent),
  radial-gradient(at bottom right, hsl(252, 79%, 33%), transparent),
  radial-gradient(at bottom left, hsl(342, 79%, 33%), transparent); */
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
img {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
button:focus,
a:focus,
input:focus {
  outline: none;
}